.productDetail {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
  
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  .productImage {
    max-width: 100%;
    margin-bottom: 20px;
  
    @media (min-width: 768px) {
      max-width: 300px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  
  .productInfo {
    display: flex;
    flex-direction: column;
  }
  
  .price {
    color: green;
    font-size: 1.5em;
  }
  
  .category, .rating {
    margin-top: 10px;
  }  